*{
margin: 0px;
padding: 0px;
}


header{
	max-width: 900px;
	border: 10px double #e67e22;
	text-align: center;
	margin:0px auto;
	padding: 0px auto;
	box-shadow: 0px 5px 70px 0px #aaa;
	font-size: 20px;
	font-family: cursive;
	color: #3498db;
}

main {
	display: flex;
	width: 900px;
	margin: 0px auto;
}


img{
	height:450px;
	width: 600px;
    margin: 15px auto;

}

aside#Buttons {
	border: 2px	 solid red;
	width: 280px;
	height: 440px;
	margin: 20px 0px 0px 20px;
	flex-direction: column;
	display: flex;
	background-color: #3498db;
}

button{
	margin: 15px auto;
	
	width: 250px;
	font-size: 18px;
	font-weight: bold;
	font-family: cursive;
	background-color: #2ecc71;
	color: #e74c3c;

}


article{  
	border: 2px solid red;
    box-shadow: 0px 5px 60px #aaa;
	max-width: 900px;
	height: 80px;
	margin: 15px auto;
	color: blue;
	text-align: center;
}

p{
	margin: 10px auto;
}